<h1><%= @board.title %></h1>
<h2><%= @board.description %></h2>
<% @board_threads.each do |board_thread| %>
	<a href="/board_threads/<%= board_thread.id %>">
		<fieldset>
			<%= board_thread.title %><br/>
		</fieldset>
	</a>
	<br/>
<% end %>
